@page "/test"
@using BlazorWasmDemo.Shared
@using BlazorWasmDemo.Shared.DTOs
@inject HttpClient Http

<h1>Form demo</h1>

<p>This component demonstrates data validation at DTO level.</p>

@if (_submissionWasValid)
{
    <h1>Yay, your form submission was successful!</h1>
}
else
{
    <EditForm Model="@_formDto" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Firstname:</label>
            <InputText @bind-Value="@_formDto.Person.Firstname" />
        </div>
    
        <div class="form-group">
            <label>Lastname:</label>
            <InputText @bind-Value="@_formDto.Person.Lastname" />
        </div>

        <div class="form-group">
            <label>Country:</label>
            <InputText @bind-Value="@_formDto.Country.Name" />
        </div>
    
        <div class="form-group">
            <label>Capital:</label>
            <InputText @bind-Value="@_formDto.Country.Capital" />
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}

@code {
    private FormDto _formDto = new()
    {
        Person = new(),
        Country = new()
    };
    private bool _submissionWasValid { get; set; } = false;

    private async void HandleValidSubmit()
    {
        var result = await Http.PostAsJsonAsync<FormDto>("formvalidator", _formDto);
        if (result.IsSuccessStatusCode)
        {
            _submissionWasValid = !_submissionWasValid;
            StateHasChanged();
        }
    }
}
